<!DOCTYPE html>
<html>
<head>
<title>NFL Rush Test - By Ian Carreon</title>
<style>
table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
</style>
</head>
<body>
<h1>NFL Rush Test by Ian Carreon</h1>
<h3>Search</h3>
<input type="text" id="myInput" onkeyup="myFilterFunction()" placeholder="Search for player names..">
<h3>Download</h3>
<button onclick="exportTableToCSV('nfl_rushing.csv')">Export HTML Table To CSV File</button>
<table id="myTable2">
<tr><th>Player</th><th>Team</th><th>Pos</th><th>Att</th><th>Att/G</th><th onclick="sortTable(5)">Yds</th><th>Avg</th><th>Yds/G</th><th onclick="sortTable(8)">Td</th><th onclick="sortTable(9)">Lng</th><th>1st</th><th>1st%</th><th>20+</th><th>40+</th><th>FUM</th>
{% for d in data %}
        <tr><td>{{ d.Player }}</td><td>{{ d.Team }}</td><td>{{ d.Pos }}</td><td>{{ d.Att }}</td><td>{{ d.Att_G }}</td><td>{{ d.Yds }}</td><td>{{ d.Avg }}</td><td>{{ d.Yds_G }}</td><td>{{ d.TD }}</td><td>{{ d.Lng }}</td><td>{{ d.1st }}</td><td>{{ d.1st_pct }}</td><td>{{ d.20_plus }}</td><td>{{ d.40_plus }}</td><td>{{ d.FUM }}</td></tr>
{% endfor %}
</table>


<script>
function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}

function exportTableToCSV(filename) {
	var myInput = document.getElementById("myInput");
	if (myInput && myInput.value) {
		  var csv = [];
		  // Declare variables
		  var input, filter, table, tr, td, i, txtValue;
		  input = document.getElementById("myInput");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("myTable2");
		  tr = table.getElementsByTagName("tr");

		  // Loop through all table rows, and hide those who don't match the search query
		  for (i = 0; i < tr.length; i++) {
			var row = [], cols = tr[i].querySelectorAll("td");
			
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
			  txtValue = td.textContent || td.innerText;
			  if (txtValue.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
				for (var j = 0; j < cols.length; j++) 
					row.push(cols[j].innerText);

				csv.push(row.join(","));  
			  } else {
				tr[i].style.display = "none";
			  }
			}
		  }	  
		  downloadCSV(csv.join("\n"), filename);
	}
	else{
		
		var csv = [];
		var rows = document.querySelectorAll("table tr");
		
		for (var i = 0; i < rows.length; i++) {
			var row = [], cols = rows[i].querySelectorAll("td, th");
			
			for (var j = 0; j < cols.length; j++) 
				row.push(cols[j].innerText);
			
			csv.push(row.join(","));        
		}

		// Download CSV file
		downloadCSV(csv.join("\n"), filename);
	}
}

function myFilterFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable2");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function sortTable(n) {

  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable2");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("td")[n];
      y = rows[i + 1].getElementsByTagName("td")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML > y.innerHTML) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML < y.innerHTML) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

</body>
</html>
